
/*-- scss:defaults --*/

.blue {
    color: blue;
}

.darkgreen {
    color: green;
}

.lightgreen {
    color: greenyellow;
}

.red {
    color: red;
}

.yellow {
    color: yellow;
}

.orange {
    color: orange;
}

.gray {
    color: gray;
}

.black {
    color: black;
}

.white {
    color: white;
}

.violet {
    color: violet;
}

.pink {
    color: pink;
}

.brown {
    color: brown;
}

.lime {
    color: lime;
}

.steelblue {
    color: steelblue;
}

.magenta {
    color: magenta;
}

/* Financial Times colors */
.ftcol1 {
    color: #0D7680;
}

.ftcol2 {
    color: #F2DFCE;
}

.ftcol3 {
    color: #FFF1E0;
}

.ftcol4 {
    color: #FFF9F5;
}

h1, h2, h3, h4, h5, h6 {
    color: #0D7680;
}











