
/*-- scss:defaults --*/

.blue {
    color: blue;
}

.darkgreen {
    color: green;
}

.lightgreen {
    color: greenyellow;
}

.red {
    color: red;
}

.yellow {
    color: yellow;
}

.orange {
    color: orange;
}

.gray {
    color: gray;
}

.black {
    color: black;
}

.white {
    color: white;
}

.violet {
    color: violet;
}

.pink {
    color: pink;
}

$brown: brown;
.brown {color: $brown;}

.lime {
    color: lime;
}

.steelblue {
    color: steelblue;
}

.magenta {
    color: magenta;
}

/* Financial Times colors */
$ftcol1: #0D7680;
.ftcol1 {
    color: $ftcol1;
}

$ftcol2: #F2DFCE;
.ftcol2 {
    color: $ftcol2;
}


$ftcol3: #FFF1E0;
.ftcol3 { color: $ftcol3;}

$ftcol4: #FFF9F5;
.ftcol4 {
    color: $ftcol4;
}




