
/*-- scss:defaults --*/
$web-font-path: "https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap" !default;

@if $web-font-path {
    @import url($web-font-path);
}

$font-family-sans-serif: "Libre Franklin" !default;

$headings-font-family: "Jost" !default;
$headings-font-weight: 500 !default;

$navbar-font-family: "Jost" !default;
$toc-font-family: "Jost" !default;
$footer-font-family: "Jost" !default;

// colors
$body-bg: $ftcol4 !default;
$link-color: #4682B4 !default;
$selection-bg: rgb(212, 212, 34) !default;
$navbar-bg: $ftcol4 !default;

// body font color
body * {
  color: black;
  background-color: $ftcol4;
  font-size: 19px;
}

// Colors of header
h1, h2, h3, h4, h5, h6, .title, .anchored {
  color: $ftcol1;
}

// Navigation bars
.navbar * {
  color: $ftcol1;
  background-color: $ftcol4;
  text-transform: uppercase;
  margin: -1.5px;
  padding: -1.5px;
  border: -1.5px;

  &:hover{
    color: $brown;
  }
}

// Link CV dates to the right
.cvdate{
  float: right;
  font-style: italic;
  font-weight: bold;
  color: $link-color;
}

.subitems{
  color: grey;
}














