
/*-- scss:defaults --*/
$web-font-path: "https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap" !default;

@if $web-font-path {
    @import url($web-font-path);
}

.listing-title {
  width: 200%;
  font-size: 1.15em;
  
  transition: all 0.3s ease-in-out; // Smooth transition effect
  &:hover, a:hover {
    color: brown;
    font-weight: bold;
    //transform: scale(1.1);
  }
}

// Journal: Write no-external within subtitle otherwise it will change oter sections too
.listing-subtitle {
  
  .no-external{
    color: gray;
    font-size: 0.9em;
    font-style: italic;
  }
}

// Text content of qmd files
.listing-description {
  display: none;
}

// Authors
.listing-author {
  color: gray;
  font-size: 0.9em;
  font-style: italic;
}



